<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.min.css">
    <title>My recipes</title>
</head>
<body class="container">
    <header>
        <h4><em>with a little help from my friends</em></h4>
        <ul class="topmenu">
            <li><a href="bread.html" class="virkur"><span class="icon-bread"></span>bread</a></li>
            <li><a href="#"><span class="icon-bbq"></span>starters</a></li>
            <li><a href="#"><span class="icon-maincourse"></span>maincourse</a></li>
            <li><a href="#"><span class="icon-kefli"></span>dessert</a></li>
            <li><a href="#"><span class="icon-pacman"></span>glass</a></li>
        </ul>
    </header>
    <main>
        <section class="col-3-1">
            <div class="splashlogo">
                <img src="img/my-recipes.svg" title="myrecipes lógó">
            </div>
            <div class="kynning">
                <h2>scalable Vector graphics Í 4. verkefni búum við til nyja forsíðu á uppskriftavefinu og notum SVG Tákn í logo og leturtákn í efnisyfirlit. Til að byrja með notum við vefsíðurnar úr 3. verkefni sem undirsíður og höfum aðra tengla í efnisyfirlitinu óvirka.</h2>
            </div>
            <div class="auglysing ">
                <p>í verkefni 5 búum við til auglýsingu og setjum hana hér með </p>
            <div>
        </section>
        <figure class="col-4">
            <img src="img/bread.jpg" title="bread">
            <img src="img/FigHamStarter.jpg" title="starters">
            <img src="img/Grilled-Buttermilk-Chicken.jpg" title="chicken">
            <img src="img/desserts-hero.jpg" title="dessert">
        </figure>
    </main>
    <footer><p>&copy;2020 ABK - Tölvubraut Tskoli</p></footer>
    {% include "socialbutts.html" %}
</body>
</html>